body{
    background: skyblue;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* Header formatting */
header{
    background-image: url("images/sunrise.jpg");
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Set a specific height */
    height: 300px;
    margin:0;
    padding:10px;
    position: relative;    
    text-align:center;
}
header ul li a{
    text-decoration: none;
    font-size:20px;
    color:black;
}
header ul{
    list-style-type: none;
    text-align: center;
}
header li{
    display:inline-block;
    margin-right: 50px;
    text-align: center;
}
header h1{
    font-size: 50px;
    padding-left: 190px;
}
header h2{
    font-size: 50px;
}
/* image descritpion formating */
.i_descriptions {
    background-image: url("images/blue.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

    color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

.i_descriptions a{
    color: black;
    text-decoration: none;
}

.i_descriptions figure{
    margin: auto;
    padding-bottom: 100px;
    padding-top: 30px;
    text-align: center;
    text-transform: initial;
    width: 500px;
}
.i_descriptions figure img{
    border: 1px solid white;
    border-radius: 20%;
    box-shadow: gray 0 0 10px;
    width: 400px;
}

/* textual descriptions formatting */
.descriptions {
    color: black;
    padding-left:30px;
    padding-right: 30px;
}
.descriptions p{
    padding-bottom: 30px;
}
.descriptions a{
    text-decoration: none;
    color:black;
}

/* Footer */
footer{
    background: navy;
    font-size: 12px;
    color: white;
    padding: 10px 10px;
    text-transform: uppercase;
    text-align: center;
}



/* not sure what this does*/
body, html {
    height: 100%;
}
