body{
    background: #b2d8d8;
    color: black;
    font-family:Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
/* Header formatting */
header{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("mountains.jpeg");
    margin:0;
    padding:10px;
    /* Set a specific height */
    height: 300px;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
    text-align:center;
}
header ul li a{
    color: white;
    text-decoration: none;
    font-size:20px;
}
header ul{
    margin:20;
    padding:20;
    list-style-type: none;
    text-align: center;
}
header li{
    display:inline-block;
    margin-right: 50px;
    text-align: center;
}
header h1{
    font-size: 50px;
    padding-top: 30px;
    color: #b2d8d8;

}
/* descriptions formatting */
.descriptions {
    color: black;
    padding-left:30px;
    padding-right: 30px;
}
.descriptions p{
    padding-bottom: 30px;
}
.descriptions a{
    text-decoration: none;
    color:black;
}

/* Footer */
footer{
    background: navy;
    font-size: 12px;
    color: white;
    padding: 10px 10px;
    text-transform: uppercase;
    text-align: center;
}



/* not sure what this does*/
body, html {
    height: 100%;
}
